<a href="https://colab.research.google.com/github/SidR-13/Winter-Internship/blob/main/Week_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#importing libraries
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv("/content/Data-cleaning-for-beginners-using-pandas.csv")

In [3]:
data

    Index   Age      Salary  Rating       Location  Established Easy Apply
0       0  44.0   $44k-$99k     5.4       India,In         1999       TRUE
1       1  66.0   $55k-$66k     3.5    New York,Ny         2002       TRUE
2       2   NaN   $77k-$89k    -1.0    New York,Ny           -1         -1
3       3  64.0   $44k-$99k     4.4       India In         1988         -1
4       4  25.0   $44k-$99k     6.4  Australia Aus         2002         -1
5       5  44.0   $77k-$89k     1.4       India,In         1999       TRUE
6       6  21.0   $44k-$99k     0.0    New York,Ny           -1         -1
7       7  44.0   $44k-$99k    -1.0  Australia Aus           -1         -1
8       8  35.0   $44k-$99k     5.4    New York,Ny           -1         -1
9       9  22.0   $44k-$99k     7.7       India,In           -1       TRUE
10     10  55.0   $10k-$49k     5.4       India,In         2008       TRUE
11     11  44.0   $10k-$49k     6.7       India,In         2009         -1
12     12   NaN   $44k-$99k     0.0       India,In         1999         -1
13     13  25.0   $44k-$99k    -1.0  Australia Aus         2019       TRUE
14     14  66.0   $44k-$99k     4.0  Australia Aus         2020       TRUE
15     15  44.0  $88k-$101k     3.0  Australia Aus         1999         -1
16     16  19.0   $19k-$40k     4.5       India,In         1984         -1
17     17   NaN   $44k-$99k     5.3    New York,Ny         1943       TRUE
18     18  35.0   $44k-$99k     6.7    New York,Ny         1954       TRUE
19     19  32.0   $44k-$99k     3.3    New York,Ny         1955       TRUE
20     20   NaN   $44k-$99k     5.7    New York,Ny         1944       TRUE
21     21  35.0   $44k-$99k     5.0    New York,Ny         1946         -1
22     22  19.0   $55k-$66k     7.8    New York,Ny         1988       TRUE
23     23   NaN   $44k-$99k     2.4    New York,Ny         1999       TRUE
24     24  13.0   $44k-$99k    -1.0    New York,Ny         1987         -1
25     25  55.0   $44k-$99k     0.0  Australia Aus         1980       TRUE
26     26   NaN   $55k-$66k     NaN       India,In         1934       TRUE
27     27  52.0   $44k-$99k     5.4       India,In         1935         -1
28     28   NaN   $39k-$88k     3.4  Australia Aus         1932         -1

In [4]:
data.head()

   Index   Age     Salary  Rating       Location  Established Easy Apply
0      0  44.0  $44k-$99k     5.4       India,In         1999       TRUE
1      1  66.0  $55k-$66k     3.5    New York,Ny         2002       TRUE
2      2   NaN  $77k-$89k    -1.0    New York,Ny           -1         -1
3      3  64.0  $44k-$99k     4.4       India In         1988         -1
4      4  25.0  $44k-$99k     6.4  Australia Aus         2002         -1

In [5]:
data.tail()

    Index   Age     Salary  Rating       Location  Established Easy Apply
24     24  13.0  $44k-$99k    -1.0    New York,Ny         1987         -1
25     25  55.0  $44k-$99k     0.0  Australia Aus         1980       TRUE
26     26   NaN  $55k-$66k     NaN       India,In         1934       TRUE
27     27  52.0  $44k-$99k     5.4       India,In         1935         -1
28     28   NaN  $39k-$88k     3.4  Australia Aus         1932         -1

In [7]:
data.shape

(29, 7)

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Index        29 non-null     int64
 1   Age          22 non-null     float64
 2   Salary       29 non-null     object
 3   Rating       28 non-null     float64
 4   Location     29 non-null     object
 5   Established  29 non-null     int64
 6   Easy Apply   29 non-null     object
dtypes: float64(2), int64(2), object(3)
memory usage: 1.7+ KB

In [9]:
data.isnull().sum()

Index          0
Age            7
Salary         0
Rating         1
Location       0
Established    0
Easy Apply     0
dtype: int64

In [10]:
data.columns

Index(['Index', 'Age', 'Salary', 'Rating', 'Location', 'Established',
       'Easy Apply'],
      dtype='object')

In [11]:
sample = data.columns.str.lower().str.replace(" ","_")

In [12]:
text = '$40k-$100k'
text.replace('$',"")

'40k-100k'

In [13]:
sample

Index(['index', 'age', 'salary', 'rating', 'location', 'established',
       'easy_apply'],
      dtype='object')

In [14]:
avg_age = data.Age.mean()

In [15]:
avg_age

39.04545454545455

In [17]:
data['Age'] = data.Age.fillna(avg_age)
data["Age"] = data.Age.round(decimals=1)

In [18]:
data

    Index   Age      Salary  Rating       Location  Established Easy Apply
0       0  44.0   $44k-$99k     5.4       India,In         1999       TRUE
1       1  66.0   $55k-$66k     3.5    New York,Ny         2002       TRUE
2       2  39.0   $77k-$89k    -1.0    New York,Ny           -1         -1
3       3  64.0   $44k-$99k     4.4       India In         1988         -1
4       4  25.0   $44k-$99k     6.4  Australia Aus         2002         -1
5       5  44.0   $77k-$89k     1.4       India,In         1999       TRUE
6       6  21.0   $44k-$99k     0.0    New York,Ny           -1         -1
7       7  44.0   $44k-$99k    -1.0  Australia Aus           -1         -1
8       8  35.0   $44k-$99k     5.4    New York,Ny           -1         -1
9       9  22.0   $44k-$99k     7.7       India,In           -1       TRUE
10     10  55.0   $10k-$49k     5.4       India,In         2008       TRUE
11     11  44.0   $10k-$49k     6.7       India,In         2009         -1
12     12  39.0   $44k-$99k     0.0       India,In         1999         -1
13     13  25.0   $44k-$99k    -1.0  Australia Aus         2019       TRUE
14     14  66.0   $44k-$99k     4.0  Australia Aus         2020       TRUE
15     15  44.0  $88k-$101k     3.0  Australia Aus         1999         -1
16     16  19.0   $19k-$40k     4.5       India,In         1984         -1
17     17  39.0   $44k-$99k     5.3    New York,Ny         1943       TRUE
18     18  35.0   $44k-$99k     6.7    New York,Ny         1954       TRUE
19     19  32.0   $44k-$99k     3.3    New York,Ny         1955       TRUE
20     20  39.0   $44k-$99k     5.7    New York,Ny         1944       TRUE
21     21  35.0   $44k-$99k     5.0    New York,Ny         1946         -1
22     22  19.0   $55k-$66k     7.8    New York,Ny         1988       TRUE
23     23  39.0   $44k-$99k     2.4    New York,Ny         1999       TRUE
24     24  13.0   $44k-$99k    -1.0    New York,Ny         1987         -1
25     25  55.0   $44k-$99k     0.0  Australia Aus         1980       TRUE
26     26  39.0   $55k-$66k     NaN       India,In         1934       TRUE
27     27  52.0   $44k-$99k     5.4       India,In         1935         -1
28     28  39.0   $39k-$88k     3.4  Australia Aus         1932         -1

In [19]:
data['Location'].value_counts()

New York,Ny      12
India,In          9
Australia Aus     7
India In          1
Name: Location, dtype: int64

In [20]:
data['Location'] = data['Location'].replace({'New York,Ny':'New York', 'India,In':'India','India In':'India', 'Australia Aus':'Australia'})

In [22]:
data

    Index   Age      Salary  Rating   Location  Established Easy Apply
0       0  44.0   $44k-$99k     5.4      India         1999       TRUE
1       1  66.0   $55k-$66k     3.5   New York         2002       TRUE
2       2  39.0   $77k-$89k    -1.0   New York           -1         -1
3       3  64.0   $44k-$99k     4.4      India         1988         -1
4       4  25.0   $44k-$99k     6.4  Australia         2002         -1
5       5  44.0   $77k-$89k     1.4      India         1999       TRUE
6       6  21.0   $44k-$99k     0.0   New York           -1         -1
7       7  44.0   $44k-$99k    -1.0  Australia           -1         -1
8       8  35.0   $44k-$99k     5.4   New York           -1         -1
9       9  22.0   $44k-$99k     7.7      India           -1       TRUE
10     10  55.0   $10k-$49k     5.4      India         2008       TRUE
11     11  44.0   $10k-$49k     6.7      India         2009         -1
12     12  39.0   $44k-$99k     0.0      India         1999         -1
13     13  25.0   $44k-$99k    -1.0  Australia         2019       TRUE
14     14  66.0   $44k-$99k     4.0  Australia         2020       TRUE
15     15  44.0  $88k-$101k     3.0  Australia         1999         -1
16     16  19.0   $19k-$40k     4.5      India         1984         -1
17     17  39.0   $44k-$99k     5.3   New York         1943       TRUE
18     18  35.0   $44k-$99k     6.7   New York         1954       TRUE
19     19  32.0   $44k-$99k     3.3   New York         1955       TRUE
20     20  39.0   $44k-$99k     5.7   New York         1944       TRUE
21     21  35.0   $44k-$99k     5.0   New York         1946         -1
22     22  19.0   $55k-$66k     7.8   New York         1988       TRUE
23     23  39.0   $44k-$99k     2.4   New York         1999       TRUE
24     24  13.0   $44k-$99k    -1.0   New York         1987         -1
25     25  55.0   $44k-$99k     0.0  Australia         1980       TRUE
26     26  39.0   $55k-$66k     NaN      India         1934       TRUE
27     27  52.0   $44k-$99k     5.4      India         1935         -1
28     28  39.0   $39k-$88k     3.4  Australia         1932         -1

In [23]:
data['Location'].str.split(",",expand=True)[0]

0         India
1      New York
2      New York
3         India
4     Australia
5         India
6      New York
7     Australia
8      New York
9         India
10        India
11        India
12        India
13    Australia
14    Australia
15    Australia
16        India
17     New York
18     New York
19     New York
20     New York
21     New York
22     New York
23     New York
24     New York
25    Australia
26        India
27        India
28    Australia
Name: 0, dtype: object

In [25]:
data.isnull().sum()

Index          0
Age            0
Salary         0
Rating         1
Location       0
Established    0
Easy Apply     0
dtype: int64

In [26]:
data

    Index   Age      Salary  Rating   Location  Established Easy Apply
0       0  44.0   $44k-$99k     5.4      India         1999       TRUE
1       1  66.0   $55k-$66k     3.5   New York         2002       TRUE
2       2  39.0   $77k-$89k    -1.0   New York           -1         -1
3       3  64.0   $44k-$99k     4.4      India         1988         -1
4       4  25.0   $44k-$99k     6.4  Australia         2002         -1
5       5  44.0   $77k-$89k     1.4      India         1999       TRUE
6       6  21.0   $44k-$99k     0.0   New York           -1         -1
7       7  44.0   $44k-$99k    -1.0  Australia           -1         -1
8       8  35.0   $44k-$99k     5.4   New York           -1         -1
9       9  22.0   $44k-$99k     7.7      India           -1       TRUE
10     10  55.0   $10k-$49k     5.4      India         2008       TRUE
11     11  44.0   $10k-$49k     6.7      India         2009         -1
12     12  39.0   $44k-$99k     0.0      India         1999         -1
13     13  25.0   $44k-$99k    -1.0  Australia         2019       TRUE
14     14  66.0   $44k-$99k     4.0  Australia         2020       TRUE
15     15  44.0  $88k-$101k     3.0  Australia         1999         -1
16     16  19.0   $19k-$40k     4.5      India         1984         -1
17     17  39.0   $44k-$99k     5.3   New York         1943       TRUE
18     18  35.0   $44k-$99k     6.7   New York         1954       TRUE
19     19  32.0   $44k-$99k     3.3   New York         1955       TRUE
20     20  39.0   $44k-$99k     5.7   New York         1944       TRUE
21     21  35.0   $44k-$99k     5.0   New York         1946         -1
22     22  19.0   $55k-$66k     7.8   New York         1988       TRUE
23     23  39.0   $44k-$99k     2.4   New York         1999       TRUE
24     24  13.0   $44k-$99k    -1.0   New York         1987         -1
25     25  55.0   $44k-$99k     0.0  Australia         1980       TRUE
26     26  39.0   $55k-$66k     NaN      India         1934       TRUE
27     27  52.0   $44k-$99k     5.4      India         1935         -1
28     28  39.0   $39k-$88k     3.4  Australia         1932         -1

In [38]:
data['Rating'].replace([-1.0],0)

0     5.4
1     3.5
2     0.0
3     4.4
4     6.4
5     1.4
6     0.0
7     0.0
8     5.4
9     7.7
10    5.4
11    6.7
12    0.0
13    0.0
14    4.0
15    3.0
16    4.5
17    5.3
18    6.7
19    3.3
20    5.7
21    5.0
22    7.8
23    2.4
24    0.0
25    0.0
26    3.5
27    5.4
28    3.4
Name: Rating, dtype: float64

In [46]:
data.Established.mode()

0      -1
1    1999
Name: Established, dtype: int64

In [48]:
data_Established_replace=data['Established'].replace([-1.0],1999)

In [49]:
data_Established_replace

0     1999
1     2002
2     1999
3     1988
4     2002
5     1999
6     1999
7     1999
8     1999
9     1999
10    2008
11    2009
12    1999
13    2019
14    2020
15    1999
16    1984
17    1943
18    1954
19    1955
20    1944
21    1946
22    1988
23    1999
24    1987
25    1980
26    1934
27    1935
28    1932
Name: Established, dtype: int64

In [54]:
data["Easy Apply"].value_counts()

TRUE    15
-1      14
Name: Easy Apply, dtype: int64

In [57]:
data_easyapply_replace=data['Easy Apply'].replace([-1.0],False)

In [60]:
df = pd.read_csv("/content/chipotle.tsv",sep="\t")

In [61]:
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [62]:
df.head(5)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [63]:
df.tail(5)

,order_id,quantity,item_name,choice_description,item_price
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [64]:
df.isnull().sum()

order_id                 0
quantity                 0
item_name                0
choice_description    1246
item_price               0
dtype: int64